body{
  font-family: Arial;
  padding:30px;
}

table{
  width:100%;
  border-collapse: collapse;
  margin-top:20px;
}

th, td{
  border:1px solid #ddd;
  padding:12px;
}

th{
  background:#111;
  color:white;
}

.pending{
  background:#f8d7da;
  color:#721c24;
  padding:6px 12px;
  border-radius:10px;
  font-weight:bold;
}

button{
  padding:8px 14px;
  border:none;
  background:#25D366;
  color:white;
  border-radius:8px;
  cursor:pointer;
}